.DS_Store
node_modules
# public
.tmp
.idea
.log
dist
docs
npm-debug.log
.nyc_output
coverage
cassettes

output.txt
config.txt
password.txt
whitelist.txt
whitelistDomain.txt
rules*
blocks*
whitelistDomain.json

.env 

yamls
error-logs
log-rules
yarn.lock
package-lock.json
remote.txt
traffics.log
whitelist-traffic.txt
package-lock.json
*.lock